decorator==4.0.10
Django==1.10
et-xmlfile==1.0.1
ipython==5.0.0
ipython-genutils==0.1.0
jdcal==1.2
numpy==1.11.1
openpyxl==2.3.5
pandas==0.18.1
pexpect==4.2.0
pickleshare==0.7.3
prompt-toolkit==1.0.5
ptyprocess==0.5.1
Pygments==2.1.3
python-dateutil==2.5.3
pytz==2016.6.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.2
wcwidth==0.1.7
click==6.6
colorama==0.3.7
decorator==4.0.10
Django==1.10
et-xmlfile==1.0.1
future==0.15.2
ipython==5.0.0
ipython-genutils==0.1.0
jdcal==1.2
numpy==1.11.1
openpyxl==2.3.5
pandas==0.18.1
pefile==2016.3.28
pexpect==4.2.0
pickleshare==0.7.3
prompt-toolkit==1.0.5
ptyprocess==0.5.1
Pygments==2.1.3
PyInstaller==3.2
pypiwin32==219
python-dateutil==2.5.3
pytz==2016.6.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.2
wcwidth==0.1.7
win-unicode-console==0.5
